[submodule "Frontend_CuidemJunts"]
	path = Frontend_CuidemJunts
	url = https://github.com/DavidOvMu23/Frontend_CuidemJunts
[submodule "Backend_CudemJunts"]
	path = Backend_CudemJunts
	url = https://github.com/DavidOvMu23/Backend_CudemJunts.git
	branch = main
